/* src/index.css */

/* Basic reset (apart from MUI's CssBaseline) */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* MUI Default Font */
  background-color: #f9f9f9;
}

/* Optional: if you want all buttons and inputs to have smooth transitions */
button, input, textarea, select {
  font-family: inherit;
  outline: none;
  transition: 0.2s all ease-in-out;
}
